analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Leukocyte.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Leukocyte.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Lymph_node.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Muscle_cross.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Oviduct.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Uterus.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Uterus.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Muscle_taurus.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Milk_cell.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Spleen.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Macrophage.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Mammary_L.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Lung.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Muscle_indicus.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Testis.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Hypothalamus.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Oviduct.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Lymph_node.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Milk_cell.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Monocytes.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Kidney.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Lung.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Muscle.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Pituitary.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Intramuscular_fat.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Macrophage.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Mammary.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Muscle_taurus.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Pituitary.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Rumen.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Intramuscular_fat.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Liver.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Rumen.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Ovary.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Blood.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Embryo.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Hypothalamus.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Jejunum.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Liver.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Ovary.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Embryo.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Jejunum.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Mammary_L.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Muscle_indicus.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Adipose.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Adipose.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Kidney.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Mammary.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Muscle.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Spleen.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Testis.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Blood.nominals.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Monocytes.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/datasets/cGTEx/cis-eQTL_Summary_Statistics/Muscle_cross.permutations.2rd.txt.gz filter=lfs diff=lfs merge=lfs -text
analysis/outputFiles/GTExV7/eQTLsAndNumTissuesAffected.txt filter=lfs diff=lfs merge=lfs -text
